<div class="datepicker row">
    <div ng-controller="countCtrl">
    <div class="col-xlg-6 col-md-12 col-sm-6">
        <p class="input-group">
            <input type="time" name="hourEnd" id="hourEnd" placeholder="Hora de Término" ng-model="vm.hourForm.hourEnd" class="form-control" ng-required="true" required/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-time"></i></button>
          </span>
        </p>
    </div>
    </div>
</div>