<div class="widgets" ng-controller="memberCtrl">
	<div class="col-md-12">
	  <div
	      ba-panel
	      ba-panel-title="Adicione os membros do seu Time!"
	      ba-panel-class="with-scroll">
	    <form class="row form-inline">
	    	<div class="col-md-12"> 
	    		Adicionar membros 
	    		<button type="submit" class="btn btn-primary" ng-click="moreMembers()">+</button>
	    		<i style="color: white">ttt</i>
	    		Remover membros
	    		
	    		<button type="submit" class="btn btn-danger" style="width: 33px" ng-click="removeMember()">-</button>
	    		<br>	
	    		<br>
	    	</div>

	    	<div ng-repeat="member in members">
	    		<div class="form-group col-sm-3 col-xs-6">
	    		  <input type="text" class="form-control" id="exampleInputName2" placeholder="Nome do membro">
	    		</div>
	    		<div class="form-group col-sm-3 col-xs-6">
	    		  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="E-mail">
	    		</div>
	    		<div class="form-group col-sm-3 col-xs-6">
	    		  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Cargo">
	    		</div>
	    		<div class="checkbox">
	    		  <label class="custom-checkbox">
	    		    <input type="checkbox">
	    		    <span>
	    		    É administrador?</span>
	    		  </label>
	    		</div>
	    		<button type="submit" class="btn btn-primary">Criar Membro!</button>
	    		<br>
	   			<br>	
	    	</div>	
	    </form>
	  </div>
	  <br><br>
	</div>
</div>