<div class="vertical-scroll">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="browser-icons"></th>
      <th class="align-left">Membros</th>
      <th class="align-left">Area</th>
      <th class="align-left">Presença</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in editableTableData">
      <td><img ng-src="{{::( item.image | appImage )}}" width="20" height="20"></td>
      <td class="align-left">{{item.firstName}}</td>
      <td class="align-left">{{item.area}}</td>
      <td class="align-left">
        <input type="checkbox" class="checkbox-inline custom-checkbox nowrap" ng-model="item.checked" id="inlineCheckbox02" value="option2">
      </td>
    </tr>
    </tbody>
  </table>
</div>