<div class="horizontal-scroll">
  <table class="table table-bordered table-hover" st-table="editableTableData">
    <thead>
      <th st-sort="firstName" width="60%" style="text-align: left">Membros da Enactus UFAL</th>
      <th st-sort="area" width="35%" style="text-align: left">Area</th>
      <th width="5%">Presença</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th colspan="3">
        <input st-search="firstName" placeholder="Buscar por nome" class="input-sm form-control search-input"
                 type="search" />
      </th>
    </tr>
    <tr ng-repeat="item in editableTableData" class="editable-tr-wrap">
      <td style="text-align: left">
        <span>
          <!--<img ng-src="{{::( item.image | appImage )}}" width="20" height="20">-->
          {{item.nome}}
        </span>
      </td>
      <td style="text-align: left"><span>{{item.area}}</span></td>
      <td style="text-align: center">
          <input type="checkbox" class="checkbox-inline custom-checkbox nowrap" ng-model="item.checked" id="inlineCheckbox02" value="option2">
      </td>
    </tr>
    </tbody>
    <!--<tfoot>-->
    <!--<tr>-->
      <!--<td colspan="6" class="text-center">-->
        <!--<div st-pagination="" st-items-by-page="12" st-displayed-pages="5"></div>-->
        <!--&lt;!&ndash;<div st-pagination="" st-items-by-page="12" st-displayed-pages="1"></div>&ndash;&gt;-->
      <!--</td>-->
    <!--</tr>-->
    <!--</tfoot>-->
  </table>
</div>

