<div class="horizontal-scroll">
  <table class="table table-bordered table-hover" st-table="editableTableData">
    <thead>
    <tr class="sortable">
      <th st-sort="name">Nome</th>
      <th st-sort="area">Area</th>
      <th st-sort="age">Presença</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in users" class="editable-tr-wrap">
      <td><span editable-text="item.name" blur="cancel">{{item.name}}</span></td>
      <td><span editable-text="item.area" blur="cancel">{{item.area}}</span></td>
      <td>
          <input type="checkbox" class="checkbox-inline custom-checkbox nowrap" ng-model="item.checked" id="inlineCheckbox02" value="option2">
      </span></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="12" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>